Django==3.2.12
django-globus-portal-framework==0.4.3
djangorestframework==3.13.1
django-cors-headers==3.11.0
gunicorn==20.1.0
humanize==4.0.0
{%- if cookiecutter.use_postgres == "y" %}
# PostgreSQL Adaptor
psycopg2-binary==2.9.3
{%- endif %}
ssm-parameter-store==19.11.0
whitenoise==6.0.0