Django==3.2.12
django-globus-portal-framework==0.4.3
{%- if cookiecutter.use_drf == "y" %}
# Django REST Framework
djangorestframework==3.13.1
django-cors-headers==3.11.0
{%- endif %}
gunicorn==20.1.0