<head><script defer src="/static/js/transfer/build/globus.js"></script><link href="/static/js/transfer/build/globus.css" rel="stylesheet"></head>{% extends "globus-portal-framework/v2/base.html" %}

{% load static %}
{% load index_template %}

{%block title%}Transfer{%endblock%}

{% block extraheaders %}
<link rel="stylesheet" type="text/css" href='/static/js/transfer/build/globus.css'></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}" />
{% endblock extraheaders %}

{% block breadcrumb_items %}
<li class="breadcrumb-item"><a class="h5" href="{% url 'index-selection' %}">Django Globus Portal Framework</a></li>
<li class="breadcrumb-item active"><a class="h5">{{project_info.title}} Transfer</a></li>
{% endblock %}

{%block body%}
<div id="transfer">
    <!-- React components are mounted here -->
</div>
<script src='/static/js/transfer/build/globus.js'></script>
{% endblock %}
